@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/indexbg.jpg');
    background-size: cover;
}

.imglogoMain{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 200px;
    height: 90px;
    padding: 10px 10px;
}

.imglogo{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 200px;
    height: 90px;
    padding: 10px 10px;
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    color: yellow;
    background-color: #000;
    text-align: center;
    margin: 10px 0;
    font-family: 'Ceviche One', sans-serif;
    font-size: 50px;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 95%;
    margin: 15px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 5px auto;
    grid-gap: 10px;
    color: #fff;
    /* padding-bottom: 10px; */
    border-radius: 5px;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 2;
}

.tituloHamburguer{
    background-color: rgb(184, 13, 47);
    grid-column: 1/4;
    font-size: 35px;
    font-family: 'Ceviche One', sans-serif;
    color: #fff;
    align-self: center;
}

.descricaoHamburguer{
    grid-column: 2/4;
    font-family: 'Josefin Sans', serif;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.747);
}

select{
    width: 45%;
    justify-self: center;
    color: rgb(184, 13, 47);
    background-color: #fff;
    border: black;
    padding: 6px;
    font-family: sans-serif;
    font-weight: bold;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    margin-top: 5px;
    text-align: center;
}

button{
    background-color: #fff;
    color: rgb(184, 13, 47);
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: black;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
    font-weight: bold;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

#molhosRecheios, #escolheSaborTemakiNormal, #escolheSaborTemakiEMPANADO{
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
    align-items: center; 
}

#molhosRecheios > .container{
    display: flex;
}

.listaTemakiNormal > label{
    display: flex;
}

#molhosRecheios > .container > input{
    margin-top: 18px;
    margin-right: 10px;
}

.listaTemakiNormal > label > input{
    margin-top: 10px;
}

/* #molhosRecheios{
    margin-top: 15px;
}

#molhosRecheios > .container{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 5px auto;
} */

#molhosRecheios > .container > .tituloHamburguer,
.listaTemakiNormal > label > p{
    margin-top: 2px;
    margin: 5px auto;
    font-family: 'Bebas Neue', sans-serif;
}

#nomePedido{
    text-align: center;
    color: brown;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.712);
}