@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    align-items: center;
    background-image: url('../images/indexbg.jpg');
    background-size: cover;
}

.imglogoMain{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 200px;
    height: 90px;
    padding: 10px 10px;
}

.imglogo{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 200px;
    height: 90px;
    padding: 10px 10px;
}

#intro{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(184, 13, 47);
    padding: 10px 10px;
    margin: 0 15px;
}

ul{
    display: flex;
    list-style: none;
    width: 280px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 100%;
}

.listaCardapio{
    border-radius: 5px;
    margin: 10px auto;
    background-color: rgb(184, 13, 47);
    padding: 10px 10px;
}

.listaCardapio > img{
    flex: 1;
}

.iconeham{
    margin: 0 16px;
}

.bebidaIndex{
    width: 75px;
}

.bebidaIndex > a > img{
    margin-left: 8px;
}

.listaCardapio > a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
}

footer{
    text-align: center;
    color: black;
    font-weight: 700;
    background-color: #fff;
    padding: 10px 10px;
}

.mostraRede{
    display: flex;
    width: 300px;
    margin: 10px auto
}



.mostraRede > a{
    /* text-decoration: none;
    color: black; */
    display: flex;
    margin: 0 auto;
}

.mostraRede > a > span{
    display: flex;
    margin: 0 auto;
    margin-left: 10px;
    line-height: 35px;
    /*position: relative;
    top: -14px; */
}

.formConfcli{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    margin: 0 auto;
}

.confirmaForm{
    /* margin: 0 auto; */
    /* text-align: right; */
    font-weight: bold;
    margin-left: 30px;
}


.secConfirma{
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    margin: 15px auto;
}

.formatxt, .ob{
    margin: 10px 0;
    color: yellow;
}

.formaDePGT{
    background-color: white;
    height: 30px;
    border: solid black;
    border-radius: 6px;
    width: 110px;
    margin: 5px 0;
}

.trocoInput{
    width: 110px;
    border: 3px solid black;
    padding: 3px;
    border-radius: 4px;
} 

.obsBtn{
    display: flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    
}

.obsBtn > textarea{
    width: 200px;
    height: 80px;
    border: solid black;
    border-radius: 6px;
}

.obsBtn > button{
    width: 80px;
    margin-left: 20px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.obsBtn > button:hover{
    color: yellow;
    transition: 1s;
}

.naoehcli{
    margin-top: 10px;
}

.btn-comprarMais{
    display: flex;
    margin: 15px auto;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
} 

#nomeNoPreenchimento{
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    /* text-align: center; */
}

#endNoPreenchimento{
    color: #fff;
}

#bairroNoPreenchimento{
    color: #fff;
}

#referenciaNoPreenchimento{
    color: #fff;
}

#foneNoPreenchimento{
    color: #fff;
}